extends layout

block content
  .container
    .jumbotron
      .container
        h1 How may I Help You?
        p Let’s hear it for computers with no noisy and clunky DVD drives! Death to physical media! Or not – what do you think? Are you ready to go DVD-less?
        a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;